.Home {
  background-color: rgba(255, 255, 255, .9);
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.Home h1 {
  font-weight: 600;
  margin: 0;
  font-size: 44px;
  text-decoration: underline;
}

.Home h2 {
  padding-top: 10px;
}


.Home-link-container {
  display: border-box;
  height: auto;
}

.Home-link-separator {
  display: inline;
  padding: 7px 0;
  border-right: 2px black solid;
  font-size: 20px;
}
.Home a {
  background-color: rgb(8, 126, 223);
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;

}

.Home a:hover {
  background-color: rgb(0, 106, 192);
}

