.SignUp {
  margin-top: 40px;
  text-align: left;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  background-color: rgba(255,255,255, .9);
}

.SignUp h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 0px;
}

.SignUp-form {
  padding: 20px;
}

.SignUp-form label {
  font-size: 20px;
  font-weight: 500;
}

.SignUp-form div {
  margin-bottom: 15px;
}

.SignUp-form input {
  box-sizing: border-box;
  display: block;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  font-size: 16px;
}

.SignUp-form input:focus {
  border: 1px solid rgb(36, 143, 231);
}

.SignUp-form button {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: rgb(8, 126, 223);
  cursor: pointer;
  color: white;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  width: 100%;
}

.SignUp-form button:hover {
  background-color: rgb(0, 106, 192);
}

.SignUp-form button:disabled {
  background-color: rgb(46, 148, 231);
  cursor: default;
}

div.SignUp-registered {
  margin-top: 20px;
  margin-bottom: 0;
}

.SignUp a, .SignUp a:visited {
  color: rgb(8, 126, 223);
}